@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --swiper-navigation-color: rgb(255,90,31);
}


body {
  scrollbar-width: thin;
  scrollbar-color: rgb(255,90,31);
  scrollbar-gutter: stable both-edges;
}

body::-webkit-scrollbar {
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 0.5rem;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(255,90,31);
  border-radius: 0.5rem;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: rgb(255, 116, 65);
}
body::-webkit-scrollbar-track {
  background-color: white;
}